YAGPDB_OWNER=
YAGPDB_CLIENTID=
YAGPDB_CLIENTSECRET=
YAGPDB_BOTTOKEN=
YAGPDB_HOST=yagpdb.example.com
YAGPDB_EMAIL=admin@example.com

POSTGRES_DB=yagpdb
POSTGRES_USER=yagpdb
POSTGRES_PASSWORD=change-me
